{
	"printWidth": 200,
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"overrides": [{
			"files": ["*.dart", ".prettierrc"],
			"options": {
			"parser": "json",
			"tabWidth": 4
			}
		},
		{
			"files": "*.dart",
			"options": {
			"parser": "dart"
			}
		}
	]
}
